@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body{
 font-family:'Poppins', sans-serif;
 margin: 0px;
 padding: 0px;
}

.nav{
    height: 4rem;
    padding-left: 37px;
    background: #FFCE70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:bold;
    margin-bottom: 60px;
    color: #3A3A3A;
}


.tituloheader{
    font-size: 16px;
    line-height: 30px;
}

.pprincipal{
    font-size: 20px;
}

.tituloprincipal{
    color: #4A6FF5;
    font-size:30px;
}

.intro{
    text-align: center;
    line-height:16px;
    margin: 45px;
}

.contenedor{
    background-color:#EBEBEB;
    padding: 10px;
    border-radius: 30px;
    line-height: 12px;
    transition: all 0.25s;
    width: 300px;
    margin-left: 40px;
}


.contenedor:hover{
    
    padding: 10px;
    border-radius: 30px;
    line-height: 12px;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(63, 63, 63, 0.366);
}
.tarjetas{
    display: grid;
    grid-template-columns:repeat(3,300px);
    grid-template-rows: auto;
    gap:3em;
    margin: 0px 0px 0px 450px;
    
}

.nombreArticulo{
    color: #3A3A3A;
    font-weight: bold;
}

.precioViejo{
    color:#8d8d8d ;
    font-size: 15px;
    text-decoration: line-through;
}

.precioOferta{
    color: #F54A4A;
    font-weight:bold;
}

.boton{
    color: #fff;
    background-color: #516edb;
    padding: 13px 18px;
    border-radius: 10px;
    float: right;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    margin-right:5px;
    text-decoration: none;
}

.boton:hover{
    background-color: #1d3cab;
}

img{
    width:280px;
    margin: 10px;
}

.iconos{
    width:25px;
    height:25px;
}

.pie-pagina{
    background:#FFCE70;
    margin-top: 70px;
    height:150px;
    width:100%;
    text-align: center;

    display: flex;

    align-items: center;
    color: #3A3A3A;
    
    
}
.pie-pagina-2{
    background:#FFCE70;
    margin-top: 70px;
    height:150px;
    width:100%;
    text-align: center;

    display: flex;

    align-items: center;
    color: #3A3A3A;
    position: absolute;

bottom: 0;
    
}
.intro1{
    text-align: center;
    line-height:16px;
    margin: 780px;
}

.iconoCarrito{
    width: 35px;
}

.tituloprincipalPagos{
    color: #4A6FF5;
    font-size:30px;
    margin-left:40px ;
}

/* Desactivar las flechas en el input "number" en distintos navegadores */
input[type=number]{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formulario .elemento label{
    color:#4A6FF5;
    font-weight:500;
    margin-left:40px; 
    padding:5px;
}

.formulario .elemento input{
width:500px;
height:40px;
left: 29px;
top: 834px;

border: 1px solid #4A6FF5;
border-radius: 9px;
margin-left: 40px;
display:block;
}

input::placeholder{
    padding-left:10px;
    font-size: 15px;
    letter-spacing: 1px;
}

.botonpagar{
    color: #fff;
    background-color: #516edb;
    padding: 14px 45px;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin:20px 40px;
    text-decoration: none;
    border: none;
}

.botonpagar:hover{
    background-color: #1d3cab;} 

#estadoTarjeta{
    color: #1d3cab;
    margin-left:50px ;
    font-size: 15px;
    padding: 0px;
    margin-top: 0px;
}